html, body, #app, .login-wrapper {
  height: 100%;
  overflow: hidden;
}

body {
  background: #031d41;
  overflow: hidden;
}

#app {
  /* background-image: url(/assets/img/login-center2.png); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.login-wrapper {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ivu-form-item {
  display: block !important;
}

.ivu-form-item input {
  border: 1px solid #24bfc9;
  background: none;
  color: #fff;
}

.ivu-input-group-prepend {
  border: 1px solid #24bfc9;
  background: none;
  border-right: 0;
}
